.navbar{
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: black;
    
    }
.logo1{

    object-fit: cover;
    height: 3rem;
    width: 3rem;
}
.List{
    margin-left:5rem;
    cursor: pointer;
    color: white;
   font-size: 18px;

}
.List:hover{
    color:rgb(247, 4, 85);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(247, 4, 85);
}
.desktopMenubtn{
    height: 2rem;
    width: 10rem;
    background-color:white;
    color: black;
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 20px;
}
.desktopMenubtn:hover{
    background-color: rgb(241, 13, 89);
}

